
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');


body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: 'Playfair Display', serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.widget-container {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  max-width: 400px;
  border-radius: 20px;
  background: transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.datetime .date {
  font-size: 1.6rem;
  margin-bottom: 0px;
  font-family: 'Pacifico', cursive;
  color: #b69bcf;
}

.datetime .time {
  font-size: 2.8rem;
  font-weight: 500;
  font-family: 'DM Mono', monospace;
  color: #black;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.shooting-star {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #efa7c4;
  border-radius: 50%;
  box-shadow: 0 0 10px #efa7c4;
  animation: shoot 8s ease-in-out infinite;
  opacity: 0;
}

.shooting-star::before,
.shooting-star::after {
  content: "";
  position: absolute;
  background: #efa7c4;
  box-shadow: 0 0 6px #efa7c4;
}

.shooting-star::before {
  width: 12px;
  height: 2px;
  left: -3px;
  top: 2px;
  transform: rotate(45deg);
}

.shooting-star::after {
  width: 12px;
  height: 2px;
  left: -3px;
  top: 2px;
  transform: rotate(-45deg);
}


@keyframes shoot {
  0% {
    transform: translate(0, 100%) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(100vw, -100vh) scale(0.5);
    opacity: 0;
  }
}
